<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kuzovkov.lab1" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".FormActivity"
            android:icon="@drawable/main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:icon="@drawable/main"
            android:label="@string/app_name"
            android:parentActivityName=".FormActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kuzovkov.lab1.FormActivity" />
        </activity>
        <activity
            android:name=".ListWebActivity"
            android:label="@string/title_activity_list_web"
            android:parentActivityName=".ResultActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kuzovkov.lab1.ResultActivity" />
        </activity>
        <activity
            android:name=".ExcRateActivity"
            android:label="@string/title_activity_exc_rate"
            android:parentActivityName=".ResultActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kuzovkov.lab1.ResultActivity" />
        </activity>
    </application>

</manifest>
